:root {
    font-size: 1rem;
    line-height: 2;
    font-family: dosis;
    /*
    --color-primary: #e80976;
    --color-secondary: #2431ff;
    --color-accent-1: #ff220a;
    --color-accent-2: #d817ff;
    --color-accent-3: #5208c9;
    --color-white: #ffffff;
    --color-light: #f5f6f7;
    --color-light-2: #e6e6e6;
    --color-light-3: #cccccc;
    --color-dark: #000000;
    --color-dark-2: #1e1e1e;
    --color-dark-3: #444444;
    */
    --color-primary: #e3a6b2;
    --color-secondary: #e8647e;
    --color-accent-1: #8fcbe3;
    --color-accent-2: #668996;
    --color-accent-3: #ded876;
    --color-accent-4: rgba(232, 9, 117, 0.15);
    --color-white: #ffffff;
    --color-light: #f5f6f7;
    --color-light-2: #e6e6e6;
    --color-light-3: #cccccc;
    --color-dark: #000000;
    --color-dark-2: #1e1e1e;
    --color-dark-3: #444444;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
  
html {
    height: 100%;
}
  
body {
    height: auto;
    width: 100%;
    font-family: dosis;
    line-height: 1.5em;
    font-size: 1rem;
    box-sizing: border-box;
    /*
    background-color: rgba(232, 9, 117, 0.15);
    */
    background-color: #ffffff;
}
  
ul {
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #d6d7da;
    font-family: dosis;
}
  
 a:hover {
    text-decoration: none;
}
  
:focus {
    outline: none;
}
  
h1, h2, h3, h4, h5, h6, .nav__title, .text__hm--body {
    font-family: dosis;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
  
h1 {
    font-weight: 500;
    color: var(--color-white);
}
  
h2 {
    color: var(--color-light-3);
    font-weight: 100;
}
  
h3 {
    color: var(--color-white);
}
  
h4 {
    color: var(--color-white);
    font-weight: 500;
}
  
h5 {
    color: var(--color-dark);
}
  
h6 {
    color: var(--color-black);
    font-weight: 600;
}
  
.main {
    width: 100%;
}

.main__content--left {
    background-color: var(--color-dark);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
}

.main__container--header-text-h1 {
  font-family: abril fatface;
}

.main__container--header-text-h2 {
  font-family: dosis;
  font-weight: 400;
  color: var(--color-white);
}

.main__container--img {
    width: 9rem;
    height: 9rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.main__content--right {
    background-color: rgba(227, 166, 178, .5);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
}

.main__content--right-contact {
    border: #3b5c6b solid 1.5px;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    background-color: var(--color-dark);
}

.svg__background {
    width: 100%;
    height: auto;
}

.item__specialty {
    border-radius: 100px;
    border: var(--color-primary) solid 2px;
    display: inline-block;
    font-family: dosis;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.25rem 1.5rem;
    margin-right: 0.5rem;
}

.item__specialty:last-of-type() {
    margin-right: 0;
}
  
.container__contact--info {
    padding: 1rem;
    padding-bottom: 2rem;
}

.container__contact--info-item {
    margin-bottom: 1rem;
}

.container__contact--info-item:last-of-type {
    margin-bottom: 0;
}
  
.text__info--h4 {
    color: var(--color-white);
    font-weight: 700;
}

.text__info--label {
    color: var(--color-white);
    font-weight: 700;
    line-height: 1.5rem;
}

.text__info--link {
    color: var(--color-primary);
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: underline;
}

.text__info--link:hover {
    color: var(--color-accent-1);
    text-decoration: underline;
}

.container__btn--twj {
    display: flex;
    justify-content: center;
    border-top: #ffffff solid 2px;
    margin: auto;
}

.link__twj {
    width: 100%;
}

.link__twj--btn {
    margin: auto;
    background-color: var(--color-secondary);
    font-family: dosis;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-white);
    border-radius: 10rem;
    border: none;
    text-align: center;
}

.link__twj--btn:hover {
  background-color: var(--color-accent-1);
  color: var(--color-dark-2);
}

