:root {
    font-size: 1rem;
    line-height: 2;
    font-family: dosis;
    /*
    --color-primary: #e80976;
    --color-secondary: #2431ff;
    --color-accent-1: #ff220a;
    --color-accent-2: #d817ff;
    --color-accent-3: #5208c9;
    --color-white: #ffffff;
    --color-light: #f5f6f7;
    --color-light-2: #e6e6e6;
    --color-light-3: #cccccc;
    --color-dark: #000000;
    --color-dark-2: #1e1e1e;
    --color-dark-3: #444444;
    */
    --color-primary: #e3a6b2;
    --color-secondary: #e8647e;
    --color-accent-1: #8fcbe3;
    --color-accent-2: #668996;
    --color-accent-3: #ded876;
    --color-accent-4: rgba(232, 9, 117, 0.15);
    --color-white: #ffffff;
    --color-light: #f5f6f7;
    --color-light-2: #e6e6e6;
    --color-light-3: #cccccc;
    --color-dark: #000000;
    --color-dark-2: #1e1e1e;
    --color-dark-3: #444444;
    box-sizing: border-box;
}
